




<div>
</br>
<%= link_to("發文", new_topic_path ) %>
</div>





<table class="table table-bordered text-center table-condensed">

<tr>

<td>主題</td>

<td>作者</td>

<td>回覆</td>

<td>張貼時間</td>

</tr>

<% @topics.each do |t| %>

<tr>

  <td><%= link_to "#{t.title}", topic_path(t) %></td>
 <td><%#= link_to "#{t.email}",user_info_topics_path(:uid => t.user)%>
name
</td>
<td><%= t.try(:num)%></td>
<td><%= t.try(:latesttime) %></td>


</tr>

<% end %>

</table>

